<%- include('partials/header') %>

    <div class="container row justify-content-center">
      <h1>Thank You For Shopping with Nutrino</h1>
      <h4>you will be redirected to main page in 3 seconds</h4>
    </div>
    <script>
      setTimeout(function () {
         // after 2 seconds
         window.location = "/";
      }, 3000)
    </script>
<%- include('partials/footer') %>
