<%- include('partials/header') %>
<div class="container">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item " aria-current="page"><a href="/landing"> Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">Our Trainers</li>
    </ol>
  </nav>
  <div class="card-deck" style="margin-bottom: 100px;">
  <div class="card text-center">
    <img src="https://media.gettyimages.com/photos/fitness-trainer-at-gym-picture-id1072395722?s=612x612" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Eela</h5>
      <p class="card-text">Hi Eela here . Feel free to contact for any query !!</p>
    </div>
    <div class="card-footer">
      <form class="" action="/chat" method="post">
        <input type="text" name="trainer" value="Eela" style="display:none;">
        <button type="submit" class="btn btn-primary">Chat</button>
      </form>

    </div>
  </div>
  <div class="card text-center">
    <img src="https://nationalpti.org/wp-content/uploads/2014/02/Personal-Trainer.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Zoma</h5>
      <p class="card-text">Hi Zoma here . Feel free to contact for any query !!</p>
    </div>
    <div class="card-footer">
      <form class="" action="/chat" method="post">
        <input type="text" name="trainer" value="Zoma" style="display:none;">
        <button type="submit" class="btn btn-primary">Chat</button>
      </form>

    </div>
  </div>
  <div class="card text-center">
    <img src="https://images.squarespace-cdn.com/content/v1/543e9a68e4b0bed3afbae5c7/1512416983689-CC2JLZ5VRJDWWC8M7T9E/ke17ZwdGBToddI8pDm48kLkXF2pIyv_F2eUT9F60jBl7gQa3H78H3Y0txjaiv_0fDoOvxcdMmMKkDsyUqMSsMWxHk725yiiHCCLfrh8O1z4YTzHvnKhyp6Da-NYroOW3ZGjoBKy3azqku80C789l0iyqMbMesKd95J-X4EagrgU9L3Sa3U8cogeb0tjXbfawd0urKshkc5MgdBeJmALQKw/Lee+Constantinou+Personal+Trainer+at+Blueprint+Fitness%2C+training+clients+in+Finchley%2C+Whetstone+and+Barnet?format=2500w" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Zoya</h5>
      <p class="card-text">Hi Zoya here . Feel free to contact for any query !!</p>
    </div>
    <div class="card-footer">
      <form class="" action="/chat" method="post">
        <input type="text" name="trainer" value="Zoya" style="display:none;">
        <button type="submit" class="btn btn-primary">Chat</button>
      </form>

    </div>
  </div>
</div>




</div>


<%- include('partials/footer') %>
