<%- include('partials/header') %>

    <div class="container row justify-content-center">
      <h1>Thank You For Shopping with Nutrino</h1>
      <section>
        <p>
          We appreciate your business! If you have any questions, please email
          <a href="mailto:nutrinoSupport@nutrino.com">nutrinoSupport@nutrino.com</a>.
        </p>
      </section>
      <h4>you will be redirected to main page in 3 seconds</h4>
    </div>
    <script>
      setTimeout(function () {
         // after 2 seconds
         window.location = "/landing";
      }, 3000)
    </script>
<%- include('partials/footer') %>
