<%- include('../partials/header') %>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item " aria-current="page"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Post</li>
  </ol>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6 align-self-center">
      <h1>CREATE A POST</h1>
    </div>
    <div class="col-md-6">
      <form action="/create-post" method="post">
        <div class="form-group">
        <label for="exampleFormControlFile1">Upload Image</label>
        <input type="text" class="form-control" id="exampleFormControl" name="url" placeholder="URL">
      </div>
        <div class="form-group">
          <label for="InputEmail1">Title</label>
          <input type="text" class="form-control" id="InputEmail1" aria-describedby="emailHelp" placeholder="Enter Title" name="title">
        </div>
        <div class="form-group">
          <label for="InputPassword1">Description</label>
          <textarea name="description" rows="8" cols="80" placeholder="Description"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Create</button>
      </form>
    </div>
  </div>
</div>
<%- include('../partials/footer') %>
